* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
button,
a {
  font: inherit;
}
img {
  max-width: 100%;
}
::selection {
  background: #147ce5;
  color: white;
}
